<!DOCTYPE html>
<html lang="en">
  <!-- Head tag -->
  <%- partial('_partial/head') %>

  <body>
  	<div class="container-fluid navbar-container m-sm-5">
      <!-- Header -->
      <%- partial('_partial/header') %>
 <!-- 
      <div class="intro ml-2">
        <p>Hi, I am Rain, a self-motivated designer and innovator.</p>
        <p>Harness humanity, technology, inclusive research and magic thinking to create business value, via human-centered design.</p>
      </div>
-->
  		<div class="row">
  			<%- body %>
      </div>
      <% if (page.total > 1) { %>
    <nav class="page-nav">
        <%- paginator({prev_text: '<', next_text: '>'}) %>
    </nav>
<% } %>
  	</div>

    <!-- After footer scripts -->
    <%- partial('_partial/footer') %>
  </body>
</html>
