
body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    letter-spacing: 0.02rem;
}

strong{
    font-family: 'Open Sans black', Arial, Helvetica, sans-serif;
    letter-spacing: 0.05rem;
}

h1{
    font-family:'Arial black', sans-serif;
    font-size: 45px;
    Color: #000;
    letter-spacing: 1px;
	font-weight: 300;
}

h2{
    font-family: 'Palatino Linotype', Georgia, serif;
    font-size: 38px;
    Color: #000;
    letter-spacing: 1px;
    padding-top: 6rem;
}

h3{
    font-family: 'Palatino Linotype', Georgia, serif;
    font-size: 30px;
    font-weight: 10;
    letter-spacing: 0.05rem;
    Color: #1F1F1F;
    padding-top: 2rem;
}


.portfolio-content img {
	max-width: 100%;
}

.hovereffect .overlay-text {
    font-size: 1.2rem;
    font-family: 'Palatino Linotype', Georgia, serif;
    letter-spacing: 0.8px;

}


.navbar-brand {
    font-weight: 1200;
    font-family: "Arial Black", Gadget, sans-serif;
}

.intro {
    font-family: "Open Sans", Gadget, sans-serif;
    font-size: 1rem;
    color: grey;
    letter-spacing: 1px;
    padding-left: 0.3rem;
    margin-top: 10rem;
    margin-bottom: 20rem;
}

@media (min-width: 992px) {
	.portfolio-content>p,
	.portfolio-content>ul,
	.portfolio-content>ol,
    .portfolio-content>h3 {
		padding-left: 50%;
	}

	.portfolio-content img {
		margin-left: -100%;
        max-width: 200%;
        padding-top: 4rem;
    }

    .portfolio-content>blockquote {
        margin-left: 50%;
    }
}

.portfolio-content blockquote {
    border-left: .3rem solid #D4D4D4;
    padding-left: 1rem;
}

.portfolio-content iframe {
    width: 100%;
    height: calc(56.25vw);
}