<div class="col-12 mb-4">
  <img class="img-fluid project-img" src="<%- config.root %><%- item.cover_image || theme.default_cover_image %>" alt="<%- item.title || theme.default_post_title || "Untitled" %>">
</div>
<div class="pt-3 px-4">
  <h1><%- item.title || theme.default_post_title || "Untitled" %></h1>
</div>
<div class="pt-lg-3 mb-4 px-4 portfolio-content">
  <%- item.content %>
</div>
